* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd,
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    display: flex;

    gap: 20vw;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* объединяет два предыдуших параметра */
    /* flex-flow: row-reverse wrap; */

    /* height: 100vh; */
    /* width: 100vw; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */

    /* height: 100vh; */
    /* align-items: stretch; */
    /* align-items: baseline; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;

    /* применяется только если flex-wrap: wrap; */
    /* height: 100vh; */
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}

.item {
    width: 200px;
    height: 200px;

    /* align-self: auto; */
    /* align-self: stretch; */
    /* align-self: baseline; */

    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    /* укороченная запись */
    /* flex: 0 1 auto; */


}
.content {
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.color-blue {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /* flex: 0 1 auto; */
    background-color: blue;
}
.color-gold {
    /* изменить позицию элемента */
    order: 1;
    background-color: gold;
}
.color-green {
    width: 100px;
    height: 100px;
    background-color: green;
}
.color-red {
    background-color: red;
    width: 300px;
    height: 300px;
}