<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSN-6</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <!-- <div class="block">BLOCK</div> -->
    <!-- <div class="transform">BLOCK</div> -->

    <!-- <div class="header">
        <div class="contetnt"></div>
    </div> -->

    <!-- <div class="transition">
        <p>TEXT</p>
    </div> -->

    <!-- <div class="animation"></div> -->

    <form action="">
        <!-- checkbox -->
        <!-- <div>
            <input type="checkbox" checked>
            <input type="checkbox">
            <input type="checkbox">
        </div> -->

        <!-- radio -->
        <!-- <div>
            <h2>Укажите свой пол</h2>
            <label for="1">Мужской</label>
            <input id="1" type="radio" value="Мужской" name="gender" checked>

            <label for="2">Женский</label>
            <input id="2" type="radio" value="Женский" name="gender">

            <label for="2">Не определился</label>
            <input id="2" type="radio" value="Не определился" name="gender">
        </div> -->

        <!-- color -->
        <!-- <div>
            <label for="color">Цвет</label>
            <input id="color" type="color">
        </div> -->

        <!-- url -->
        <!-- <div>
            <label for="url">Ссылка</label>
            <input id="url" type="url" required>
        </div> -->

        <!-- tel -->
        <!-- <div>
            <label for="tel">Телефон</label>
            <input id="tel" type="tel" placeholder="(XXX)-XXX-XX-XX-XX" required>
        </div> -->

        <!-- <div style="background-color: #ccc; margin-top: 10px;">
            <label for="">Дата</label>
            <input type="date">

            <label for="">Неделя</label>
            <input type="week">

            <label for="">Текущая дата</label>
            <input type="datetime-local">

            <label for="">Месяц</label>
            <input type="month">

            <label for="">Время</label>
            <input type="time">
        </div> -->

        <!-- <div>
            <h4>Отправка файла</h4>
            <label for="">Выбрать</label>
            <input type="file" multiple accept="image/png">
        </div> -->

        <div>
            <h3>Выберите город</h3>
            <label for="city">Город</label>
            <!-- можно выбрать несколько с помощью multiple -->
            <select id="city" >
                <option disabled selected>Выберите город</option>
                <option value="Бишкек">Бишкек</option>
                <option value="Ош">Ош</option>
                <option value="Нарын">Нарын</option>
                <option value="Талас">Талас</option>
                <option value="Каракол">Каракол</option>
            </select>
        </div>

        <div>
            <h3>Напишите сообщение</h3>
            <label for="comment">Комментарий</label>
            <textarea name="" id="comment" cols="5" rows="4"></textarea>
        </div>

        <button>Submit</button>

    </form>

</body>
</html>