<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
        <div class="item Header">
            <!-- <img width="60" src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg" alt="">
            <ul>
                <li>Главная</li>
                <li>Главная</li>
                <li>Главная</li>
            </ul> -->
        </div>
        <div class="item navigation"></div>
        <div class="item SideBar">SideBar</div>
        <div class="item Menu">Menu</div>
        <div class="item Content">Content</div>
        <div class="item Footer">Footer</div>
    </div>
    
</body>
</html>