<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- float пример обтекания -->
    <header>Шапка</header>
    <nav class="left">Левый сайдбар</nav>
    <nav class="right">Правый сайдбар</nav>
    <main>Содержимое сайта</main>
    <footer>Повал сайта</footer>

    <!-- Пример float для меню навигации -->
    <header>
        <ul>
            <li>
                <a href="">Главная</a>
            </li>
            <li>
                <a href="">О нас</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>
    </header>


    <!-- Пример вложенных элементов с float -->
    <!-- <main>
    <div>
        <section class="left">
            <h1>Lorem.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex eaque ratione dolor blanditiis deserunt voluptates nisi quo quis incidunt maxime nulla nemo sequi, in nesciunt ipsam pariatur iure debitis. Perspiciatis error placeat accusamus porro, recusandae, reprehenderit iure deleniti consectetur tempore soluta nemo quasi ullam maxime! Quaerat eum error nemo repellat quae eos. Consequatur soluta similique molestias vitae ab! Optio veniam aut, ratione voluptatum unde saepe, nisi eaque dolore nihil delectus accusantium ea dolorum labore tempore dolorem numquam architecto hic reprehenderit? Nam quos ullam culpa odio dolorem? Officia aliquid mollitia sint voluptas perferendis harum recusandae, optio culpa quaerat cupiditate inventore incidunt?</p>
        </section>
        <section class="right">
            <h1>Lorem.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex eaque ratione dolor blanditiis deserunt voluptates nisi quo quis incidunt maxime nulla nemo sequi, in nesciunt ipsam pariatur iure debitis. Perspiciatis error placeat accusamus porro, recusandae, reprehenderit iure deleniti consectetur tempore soluta nemo quasi ullam maxime! Quaerat eum error nemo repellat quae eos. Consequatur soluta similique molestias vitae ab! Optio veniam aut, ratione voluptatum unde saepe, nisi eaque dolore nihil delectus accusantium ea dolorum labore tempore dolorem numquam architecto hic reprehenderit? Nam quos ullam culpa odio dolorem? Officia aliquid mollitia sint voluptas perferendis harum recusandae, optio culpa quaerat cupiditate inventore incidunt?</p>
        </section>
        <section>
            <h2>lorem</h2>
            <div class="d-left">div left</div>
            <div class="d-right">div right</div>
        </section>
    </div>
</main> -->

    <!-- Пример отображения блоков до сброса дефолтных стилей -->
    <!-- <div class="block-default">
        <h1>Lorem, ipsum.</h1>
        <h2>Lorem, ipsum.</h2>
        <h3>Lorem, ipsum.</h3>
    </div>  -->

    
    <!-- Пример бэкграунда -->
    <!-- <div class="back"></div> -->

    
</body>
</html>