<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LSN-5</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <!-- <div>Lorem, ipsum dolor.</div>
    <p>Lorem, ipsum dolor.</p>
    <a href="">Lorem, ipsum dolor.</a> -->

    <!-- <div>Lorem, ipsum dolor.</div> -->
    <!-- <div class="block">Lorem ipsum dolor sit amet.</div> -->
    <!-- <div>Lorem, ipsum dolor.</div> -->

    <!-- <nav>
        <ul>
            <li>Главная</li>
            <li>Магазин</li>
            <li>Контакты</li>
            <li>О нас</li>
            <li>Че то еще</li>
        </ul>
    </nav> -->

     <header>
        <div class="container">
            <h2>Заголовок сайта</h2>
            <nav>
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <a href="">Магазин</a>
                   </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>

            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>

            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
            <section>
                <h3>Lorem.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam neque dolores dignissimos debitis nihil similique consequuntur. Quo, excepturi magnam error, iusto dicta iure ea voluptas maxime officiis odio doloribus!</p>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <address>Lorem, ipsum dolor.</address>
        </div>
    </footer>

    <!-- <div class="block-container">
        <div class="block1">Lorem. 111</div>
        <div class="block2">Lorem. 222</div>
        <div class="block3">Lorem. 333</div>
        <div class="block4">Lorem. 444</div>
    </div> -->

    <!-- <div class="parrent">
        <div class="child">Lorem.</div>
    </div> -->

</body>
</html>