<!DOCTYPE html>
<html lang="en" theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
        <div class="block">
        Lorem ipsum dolor sit.
        </div>
        <div class="block"></div>
        <div class="block"></div>
    </div>

    <!-- <div class="elements">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div> -->

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2925.1065327433726!2d74.57605910365908!3d42.84948366931712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1690380140013!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>