<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>LSN-2</title>
    <link rel="icon" href="https://png.pngtree.com/png-vector/20190505/ourlarge/pngtree-vector-business-man-icon-png-image_1023233.jpg" type="image">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

    <form action="">
        <input type="text">
        <input type="password">
        <input type="email">
    </form>

    <ul>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
    </ul>

    <p>Lorem ipsum dolor sit amet.</p>

    <button class="submit">SUBMIT</button>

    <div class="block">
        ppp
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste saepe ipsum enim ab harum, culpa explicabo natus voluptates consectetur unde error aspernatur voluptatem vero molestias nostrum beatae. Sapiente, eum!</p>
    </div>

    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio nostrum quia molestiae, esse atque recusandae reprehenderit dignissimos. Tenetur autem error et illo quam, quod fugit mollitia possimus officiis nisi non.</p>
    </div>

    <div>
        <a href="">Ссылка</a>
    </div>

    <div>
        <p class="paragraf">Lorem ipsum dolor sit amet.</p>
    </div>

    <form action="">
        <label for="login">Login</label>
        <input class="login" id="login" type="text" placeholder="Введите логин" value="Name">

        <label for="pass">Password</label>
        <input id="pass" type="password" placeholder="Введите пароль">

        <label for="pass2">Password</label>
        <input id="pass2" type="password" placeholder="Введите подтверждение пароля">

        <label for="age">Age</label>
        <input id="age" type="number" value="0" placeholder="Введите возраст" max="100">

        <input type="submit">
        <button type="submit">Submit</button>
        <button type="button">Button</button>
    </form>


    <form action="">
        <label for="price">Price</label>
        0<input type="range" min="0" max="10" value="3" id="price">10

        <label for="name">Название товара</label>
        <input type="text" id="name" value="Что то написано">

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>


    <form action="">
        <input type="text" placeholder="text 1" autofocus>
        <input type="text" placeholder="text 2" disabled>
        <input type="text" placeholder="text 3">
        <input type="text" placeholder="text 4">
    </form>

    <form action="">
        <label for="1">Iphon</label>
        <input id="1" type="checkbox" disabled>
        
        <label for="2">samsung</label>
        <input id="2" type="checkbox">

        <label for="3">lenovo</label>
        <input id="3" type="checkbox">

        <label for="4">Nokia</label>
        <input id="4" type="checkbox">
    </form>

    <form action="">
        <input type="image" src="https://img.freepik.com/free-photo/a-cupcake-with-a-strawberry-on-top-and-a-strawberry-on-the-top_1340-35087.jpg" width="50">
    </form>

    <div>
        <input type="text">
        <button></button>
    </div>

    <form action="">
        <input type="email">
        <input type="password">

        <input type="submit">
        <input type="reset">
    </form>
    
</body>
</html>